body {
    background-color: #ecf0f1 !important;
}

.version {
    margin-right: auto;
    margin-left: 16px;
}

/* Drawer Background */
.MatAppBar-drawerPaper-7 {
    background-color: #ecf0f1 !important;
}

/* Youtube Player */
.search-bar {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail {
    padding-bottom: 10px !important;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group {
    padding-left: 15px !important;
    padding-bottom: 15px !important;
}

.list-group-item {
    padding: 10px !important;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}